<body>
  <section class="login">
    <div>
      <ul>
        <li class="app-visual-login">
          <div>
            <h3>動画ネタの掲示板YouIdea</h3>
            <%= image_tag "signup" %>
            <h3>あなたの動画ネタをクリエイターに届けよう</h3>
            <h3>リスナーとの新たな繋がりYouIdea</h3>
          </div>
        </li>
        <li class="login-form">
          <%flash.each do |message_type,message|%>
            <%= content_tag(:div,message,class: "alert alert-#{message_type}")%>
          <%end%>
          <div class="tab-wrap">
            <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" />
            <label class="tab-label" for="TAB-01">Log in</label>
            <div class="tab-content">
              <%= render  "new_login" %>
            </div>
            <input id="TAB-02" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="TAB-02">Sign up</label>
            <div class="tab-content">
              <%= render  "new_signup" %>
            </div>
            <%= link_to 'ゲストユーザー', guest_path, method: :post, class: 'btn' %>
          </div>
        </li>
      </ul>
    </div>
  </section>
</body>