  <div class="idea">
    <h3 class="title">THIS IS TITLE</h3>
    <ul class="user">
      <li class="user-icon">
        <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
      </li>
      <li class="user-name"><%= link_to micropost.user.name, micropost.user %></li>
      <li class="timestamp">
        <%= time_ago_in_words(micropost.created_at) %> ago
      </li>
    </ul>
    <div class="detail">
      <%= micropost.content %>
    </div>
    <% if micropost.image.attached? %>
    <div class="thumbnail">
      <%= image_tag micropost.display_image %>
    </div>
    <% end %>
    <div class="judge">
      <h3>
        <% if current_user.already_liked?(micropost) %>
        <%= button_to micropost_like_path(micropost,id: current_user.id),method: :delete do%>
        <span class="heart-liked btn-icon">
          <i class="fas fa-heart"></i>
        </span>
        <% end %>
        <% else %>
        <%= button_to micropost_likes_path(micropost) do %>
        <span class="heart-not-liked btn-icon">
          <i class="far fa-heart"></i>
        </span>
        <% end %>
        <%end%>
        <%= micropost.likes.count %>
      </h3>
    </div>
  </div>