  <div class="idea">
    <div class="title">THIS IS TITLE</div>
    <div class="user">
      <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
      <div class="user-name"><%= link_to micropost.user.name, micropost.user %></div>
    </div>
    <div class="thumbnail">
      <%= image_tag micropost.display_image if micropost.image.attached? %>
    </div>
    <div class="detail">
      <%= micropost.content %>
    </div>
    <div class="judge">
      <ul>
        <h5><%= micropost.likes.count %> liked</h5>
        <% if current_user.already_liked?(micropost) %>
        <%= button_to micropost_like_path(micropost,id: current_user.id),method: :delete do%>
        <li class="heart-not-liked">
          <div class="btn-icon">
            <i class="fas fa-heart"></i>
          </div>
        </li>
        <% end %>
        <% else %>
        <%= button_to micropost_likes_path(micropost) do %>
        <li class="heart-liked">
          <div class="btn-icon">
            <i class="fas fa-heart"></i>
          </div>
        </li>
        <% end %>
        <%end%>
      </ul>
    </div>
  </div>