<div class="idea">
  <h3 class="title"><%= micropost.title %></h3>
  <ul class="user">
    <li class="left">
      <div class="user-icon">
        <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
      </div>
      <div class="user-name"><%= link_to micropost.user.name, micropost.user %></div>
    </li>
    <li class="right">
      <div class="timestamp">
        <%= time_ago_in_words(micropost.created_at) %>前
      </div>
    </li>
  </ul>
  <div class="detail">
    <%= micropost.content %>
  </div>
  <% if micropost.creater %>
  <ul class="creater">
    <li class="left">
      やって欲しいクリエイター
    </li>
    <li class="right">
      <%= micropost.creater %>
    </li>
  </ul>
  <% end %>
  <% if micropost.image.attached? %>
  <div class="thumbnail">
    <%= image_tag micropost.display_image %>
  </div>
  <% end %>
  <div class="judge">
    <h3>
      <% if current_user.already_liked?(micropost) %>
      <%= button_to micropost_like_path(micropost, id: current_user.id), method: :delete do %>
      <span class="heart-liked btn-icon">
        <i class="fas fa-heart"></i>
      </span>
      <% end %>
      <% else %>
      <%= button_to micropost_likes_path(micropost) do %>
      <span class="heart-not-liked btn-icon">
        <i class="far fa-heart"></i>
      </span>
      <% end %>
      <% end %>
      <%= micropost.likes.count %>
    </h3>
  </div>
</div>